@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&display=swap');

* {
    font-family: 'Noto Serif', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

section {
    background-color: white;

}

.hero {
    background-color: rgb(19, 19, 19);
    height: 100vh;
    color: white;
    font-size: 40px;
}

/* footer {
    height: 500px;
    background-color: black;
} */

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.logo {
    padding-left: 20px;
    font-size: 40px;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
    text-decoration: none;
    color: white;
    padding: 5px;
}

ul li {
    color: white;
}

a {
    color: white;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
    /* color: rgb(68, 68, 68); */
}

h3 {
    font-size: 35px;
}

p{
    margin: 0;
    font-size: 25px;
    text-transform: none;
}

.hero-area{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 100px;
}

.button {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: rgb(199, 58, 6);
    text-align: center;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: coral;
    cursor: pointer;
}

.sub-section {
    display: flex;
    justify-content: space-between;
    padding: 80px;
}

.headshot {
    width: 150px;
    border-radius: 50%;
    border: 1px solid black;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.education-section {
    padding-left: 80px;
    /* padding-bottom: 40px; */
}

.education {
    padding: 20px 30px;
    border-left: 1px solid #000;
}

.education-steps {
    padding: 20px;
    margin-bottom: 20px;
    /* border-left: 1px solid #000; */
    border: 1px solid rgb(252, 236, 236);
    background-color: rgb(248, 245, 245);
    cursor: pointer;
}

.education-steps:hover {
    box-shadow: 0px 6px 12px 0px #ccc;
}

.contact-section {
    padding: 80px;
    text-align: center;
}

.contact-section p {
    margin-top: 20px;
    text-transform: lowercase;
}

footer {
    color: white;
    /* display: flex; */
    background-color: #000;
}

.footer {
    display: block;
    /* justify-content: center;
    align-items: center; */
    height: 200px;
    text-align: center;
    padding: 70px 0px 40px;
}

footer a {
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
}


footer p {
    font-size: 15px;
    padding-top: 30px;
}

@media only screen and (max-width: 900px){
    ul {
        justify-content: center;
    }
    ul li {
        padding: 10px;
    }
}

@media only screen and (max-width: 600px){
    nav{
        justify-content: center;
    }
    ul {
        justify-content: center;
    }
    ul li {
        padding: 30px;
    }
    .logo {
        display: none;
    }
}

@media only screen and (max-width: 575px){
    nav{
        justify-content: center;
    }
    ul {
        justify-content: center;
    }
    ul li {
        padding: 10px;
    }
    .logo {
        display: none;
    }
}

@media only screen and (max-width: 410px){
    .hero-text{
        text-align: center;
        margin: 0px;
    }
    ul li {
        padding: 5px;
    }
    .button {
        margin: auto;
    }
    .sub-section {
        padding: 80px 40px;
        text-align: center;
    }
}
